

body{
    width: 95vw;
    background-color: rgb(44, 44, 44);
    font-family: Arial, Helvetica, sans-serif;
}

#canvas{
    border: 1px dotted pink;
    border-radius: 4px;
    
}

#gameSection{
    display: flex;
    justify-content: center;
}

h2{
    text-align: center;
    background-color: lightcyan;
    color: black;
    border-radius: 6px;
    padding: 10px 40px;    
    border: 1px solid pink;
}

.mark{
    color: rgb(104, 41, 167);
}

.dot{
    color: rgb(233, 15, 15);
    font-size: 24px;
}

#play{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 20px;
   
}

#play button{
    margin: 8px;
    background-color:rgb(246, 246, 193);
    border-radius: 5px;
    padding: 19px;
    font-weight: bold;
    border: 3px solid gold;
}

#canvasSection{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#btnStop{    
    margin-top: 15px;
    padding: 10px;
    background-color: rgb(251, 169, 182);
    border-radius: 4px;
    font-weight: bold;
    border: 3px solid white;
}

@media screen and (max-width:680px){
    #canvas{
        width: 475px;
    }
    #play button{
        margin: 5px;;
        padding: 12px;
        font-size: 11px;
    }
    h2{
        padding: 3px 25px;
        font-size: 21px;
    }
    #btnStop{
        padding: 6px;
        font-size: x-small;
    }
}
@media screen and (max-width:605px){
    #canvas{
        width: 440px;
    }
    #play button{
        margin: 2px;;
        padding: 5px;
        font-size: 9px;
    }
    h2{
        padding: 2px 20px;
        font-size: 16px;
    }
    
}
