

body{
    width: 95vw;
    background-color: rgb(44, 44, 44);
    font-family: Arial, Helvetica, sans-serif;
}

#canvas{
    border: 1px dotted pink;
    border-radius: 4px;
    
}

#gameSection{    
    display: flex;
    justify-content: center;
    /* border: 1px solid white;
    display: grid;
    grid-template-columns: 200px 500px; */
}

h2{
    text-align: center;
    background-color: lightcyan;
    color: black;
    border-radius: 6px;
    padding: 10px 40px;    
    border: 1px solid pink;
}

.mark{
    color: rgb(104, 41, 167);
}

.dot{
    color: rgb(233, 15, 15);
    font-size: 24px;
}

h5{
    font-family: 'Press Start 2P', cursive;
    color: white;
    margin: 0 0 2px;
    width: 470px;
    text-align: end;
}

#play{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 20px;
   
}

#play button{
    margin: 8px;
    background-color:rgb(246, 246, 193);
    border-top-left-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 19px;
    font-weight: bold;  
}
button{
    border: 3px solid gold;
    transition: all 0.2s;
}
button:hover{
    transform: translateY(-2px);
    box-shadow: 0 3px 6px rgb(255,255,255) ;
}
button:active{
    transform: translateY(+1px);
    box-shadow: 0 0px 0px rgb(255,255,255) ;
}

#canvasSection{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#btnStop{    
    margin-top: 15px;
    padding: 4px;
    background-color: rgb(251, 169, 182);
    border-radius: 3px;
    font-weight: bold;
    border: 1px solid lightcyan;
}


/* @media screen and (max-width:762px){
    #gameSection{
        flex-direction: column;
        align-items: center;
    }
    #canvas{
        width: 430px;
    }
    h2{
        padding: 5px 25px;
        font-size: 20px;
    }
    #play button{
        padding: 12px;
    }    
    
} */

